<footer class="footer container">
    <div class="footer_top">
        <div class="menu_left">
            <span class="material-symbols-outlined footer-phone">
                call
            </span>
            <h2>0800-000-000</h2>
        </div>
        <ul class="menu">
            <li><a href="">首頁</a></li>
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="">常見問題</a></li>
        </ul>
        <div class="menu_r">
            <img class="menu_r_mr" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt=""> 
            <img class="menu_r_mr" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="">
        </div>
        
    </div>
    <div class="footer_mid">
        <div class="footer_mid_item1">
            <span class="material-symbols-outlined footer-phone">
                call
            </span>
            <h2>0800-000-000</h2>
        </div>
        <div class="footer_mid_item2"> 
                <span class="material-symbols-outlined  text-white mr-22 fz-36 footer-mail">
                    mail
                </span>
            <h2>glasses@business.com</h2>
        </div>
    </div>

    <hr class="hr1">

    <div class="footer_bottom">
        <h2>Copyright © 2020 Glasses.All rights reserved.</h2>
        <div class="footer_bottom_r">
            <h2 class="mr-48">隱私權政策</h2>
            <h2>服務條款</h2>
        </div> 
    </div>
</footer>