<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->

<div class="header container">
    <img class="logo" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="">
        <!-- <h1 class="logo"><a href=""><img class="logo" src="../../assets/images/logo-white.png" alt=""></a>公司logo</h1> -->
        <!-- <h1 class="logo"><a href="">公司logo</a></h1> -->
        <ul class="menu">
            <li><a href="index.html">首頁</a></li>
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="qa.html">常見問題</a></li>
        </ul>
    
    
</div>