.all_content{
    line-height: 1.5;
    padding-top: 96px;
    padding-bottom: 80px;
    h2{
        font-size: 48px; 
        font-weight: bold;
        border-left: 8px #9F1213 solid;
        margin-bottom: 32px;
    }
    h3{
        font-size: 24px; 
        font-weight: bold; 
        margin-bottom: 41px; 
        margin-right: 16px;
    }
}

.locat-desc{ 
    img{
        width: 526px;
        height: 224px;
    }
    margin-right: 24px;
}

.locat-detail{
    width: 526px; 
    h4{
        font-size: 24px; 
    }

    li{
        border: 1px solid #00000020; 
        padding-left: 24px;
    }
}
 
.choose-locat{
    display: flex;
}

#location_stores{
    width: 304px;
    height: 38px;
}
 
.do-flex{
    display: flex;
}

.img-googlemap{
    width: 746px;
    height: 414px;
}
 
// .qa_content h4{
//     font-size: 20px;
//     line-height: 1.5;
//     font-weight: bold; 
//     margin-bottom: 8px;
// }
 
// .qa_content p{
//     font-size: 16px;
//     line-height: 1.5; 
// }

// .ans_gap{
//     margin-bottom: 32px;
// }

// @media (max-width: 992px) { 
//     .qa_content{
//         padding-top: 80px; 
//     }
// }

// @media (max-width: 767px) {
//     .qa_content{
//         padding-top: 40px;
//         padding-bottom: 64px;
//         padding-left: 16px;
//             padding-right: 14px;
//     } 
//     .qa_content h2{
//         font-size: 24px;
//         line-height: 1.5;
//         font-weight: bold;
//         border-left: 8px #9F1213 solid;
//         margin-bottom: 24px;
//     }
        
//     .ans_gap{
//         margin-bottom: 24px;
//     }
// }