.all_content{
    line-height: 1.5;
    padding-top: 96px;
    padding-bottom: 80px;
    h2{
        font-size: 48px; 
        font-weight: bold;
        border-left: 8px #9F1213 solid;
        margin-bottom: 32px;
    }
    h3{
        font-size: 24px; 
        font-weight: bold; 
        margin-bottom: 41px; 
        margin-right: 16px;
    }
}

.mid-content {
    display: flex;
}

.locat-desc{  
    img{
        width: 100%;
        max-width: 526px;  
    }
    margin-right: 24px;
    max-width: 49%;
}

.locat-detail{ 
    h4{
        font-size: 24px; 
    }

    li{
        border: 1px solid #00000020; 
        padding-left: 24px;
    }
}
 
.choose-locat{
    display: flex;
}

#location_stores{
    width: 304px;
    height: 38px;
}
 
.do-flex{
    display: flex;
}

.img-googlemap{
    width: 51%; 
    height: 414px; 
}
  
@media (max-width: 992px) { 
     .locat-desc{
        display: flex;
        margin-right: 0px; 
        margin-bottom: 24px;
        width: 100%;
        max-width: 100%;
        img{
            max-width: 526px; 
            width: 100%;
            margin-right: 24px; 
        }
     }
    
     .mid-content{
        flex-wrap: wrap; 
     } 

     .img-googlemap{
        width: 100%;   
        img{
            width: 100%;
        }
    }
}

@media (max-width: 795px) {
    .all_content{
        padding-left: 16px;
        padding-right: 14px;
    }
    .locat-desc{
        width: 100%;
        flex-wrap: wrap;
        img{
            max-width:100%;
            width: 100%;
            margin-right: 0px; 
        }
    }  
    .locat-detail{
        width: 100%;   
    }
}