<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <!-- <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->
  </head>
  <body>

    <%- include('./layout/header'); -%>
    
    <div class="container all_content"> 
      <h2>門市據點</h2>
      <div class="choose-locat">
        <h3>選擇分店</h3>
        <select  id="location_stores">
          <option value="台北中山旗艦店">台北中山旗艦店</option> 
        </select>
      </div>

      <div class="do-flex">
        <div class="locat-desc">
            <img src="../assets/images/store-1.png" alt="">

            <div class="locat-detail">
              <li class="pt-8 pb-8">
                <h4>台北中山旗艦店</h4>
              </li>
              <li class="pt-16 pb-16">
                <div class="do-flex mb-8">
                  <span class="material-icons-outlined mr-8">
                    call
                  </span>
                  <p>電話：(02)000-1234</p>
                </div>
                
                <div class="do-flex mb-8">
                  <span class="material-icons-outlined mr-8">
                    schedule
                    </span>
                  <p>營業時間：10:00-21:00</p>
                </div>
      
                <div class="do-flex"> 
                  <span class="material-icons-outlined mr-8">
                    place
                    </span>
                  <p>地址：台北市中山區南京東路25巷2-1號</p>
                </div>
              </li>
          </div> 
        </div>

        <img class="img-googlemap" src="../assets/images/googlemap.png" alt="">
      </div>
      <!-- <h4>Q1.請問可否自備鏡框單配鏡片？</h4>
      <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
      <p>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。</p>
      <p class="ans_gap">他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p> -->
  
      
    </div>

    <%- include('./layout/footer'); -%> 

    <script type="module" src="../main.js"></script>
  </body>
</html>
